*{
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
  }
  #bdy{
      background-color: lightgoldenrodyellow;
      height: 100%;
      width: 100%;
  }
  #adl{
      background-color: rgba(64, 7, 219, 0.911); 
      text-align: center;
      color: whitesmoke;
      font-style:unset;
  }
  #frm{
    width: 250px;  
    height: 200px;
    background-color:thistle;
    text-align: center;
    margin-top: 5%;
    margin-left: 37%;
    margin-right: 20%;
    margin-bottom: 5%;

     border-radius: 10px;
     
  }
  #btn{
      margin-top: 5%;
      color: white;
      background-color: tomato;
      width: 70px;
      border-radius: 5px;
      margin-left: 4%;
  }
  #email{
      border-radius: 5px;
      border-width: 1px;
      text-align: center;
  }
  #psw{
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
}